@media screen and (max-width: 767px) {
  /* -------------------- style -------------------- */
  :root {
    /* font-size */
    --font-Xlarge: calc(75% * 3.375); /* 54px*/
    --font-large: calc(80% * 1.875); /* 30px*/
    --font-medium: calc(86% * 1.125); /* 18px*/
    --font-regular: calc(90% * 0.938); /* 15px*/
    --font-small: calc(92% * 0.875); /* 14px*/
    --font-micro: calc(100% * 0.815); /* 13px*/
  }

  input.inp,
  input[type='text'].inp,
  input[type='email'].inp {
    height: 40px;
    padding: 0 15px;
  }
  textarea.txtAr {
    padding: 15px 15px;
  }
  input.inp,
  input[type='text'].inp,
  input[type='email'].inp,
  textarea.txtAr {
    font-size: 14px;
  }

  /* style variable */
  :root {
    --header--height: 60px;
  }

  /* btn */
  .btn {
    font-size: calc(90% * 1);
  }

  /* list txt */
  .txt--list + .txt--list {
    margin-top: 18px;
  }

  /* grid list */
  .gridAr {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  /* layout */
  main.contents {
    padding: 0 25px;
  }

  /* content 공통 */
  .content .row {
    display: block;
  }
  .content .row .col2 {
    width: 100%;
  }
  .content .row .col2 + .col2 {
    margin-top: 40px;
  }

  /* header */
  header.header {
    padding: 0 15px 0 18px;
  }
  header.header.scroll {
    padding: 0 15px 0 22px;
  }

  header.header .open--btn {
    display: block;
    width: 34px;
    height: 34px;
  }
  header.header .open--btn svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
  }
  header.header .open--btn svg g rect {
    height: 2px;
    background-color: #2b2825;
    color: #2b2825;

    transform: translate3d(0, 0, 0) rotate(0);
    transform-origin: top left;
    transition-delay: 0s;
    transition: all 0.3s;
  }
  header.header .open--btn svg g rect:first-child {
    width: 22px;
  }
  header.header .open--btn svg g rect:nth-child(2) {
    width: 18px;
  }
  header.header .open--btn svg g rect:last-child {
    width: 14px;
  }

  header.header.open .open--btn svg g rect:first-child {
    width: 22px;
    transform: translate3d(6.5px, 0.5px, 0) rotate(45deg);
  }
  header.header.open .open--btn svg g rect:nth-child(2) {
    display: none;
  }
  header.header.open .open--btn svg g rect:last-child {
    width: 22px;
    transform: translate3d(-15px, 12px, 0) rotate(-45deg);
  }

  header.header .navbar {
    display: block;
    width: 100%;
    height: calc(100% - var(--header--height));
    position: fixed;
    top: var(--header--height);
    right: -100%;
    z-index: -1;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header.header .navbar::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  header.header.open .navbar {
    right: 0%;

    -webkit-transform: none;
    -ms-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  header.header.open::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.07);
  }

  header.header .navbar--manu {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
  header.header .navbar--manu .navbar--manu--item {
    display: block;
    padding: 20px 0;
  }
  header.header .navbar--manu .navbar--manu--item .tx {
    font-size: var(--font-medium);
  }

  /* footer */
  footer.footer {
    margin-top: 130px;
    padding: 22px 0;
  }

  /* home */
  .content#home header.titAr {
    padding-left: 5px;
  }
  .content#home header.titAr .profile--img {
    width: calc(var(--logo-scale) * 0.65);
  }
  .content#home header.titAr .titAr--tit {
    margin-top: 34px;
    font-size: calc(var(--font-size) * 0.56);
    letter-spacing: 0;
  }
  .content#home header.titAr .titAr--txt {
    margin-top: 24px;
    font-size: calc(var(--font-size) * 0.9);
  }

  /* about */
  .content#about .contWp .graphAr {
    display: block;
    padding: 30px 0;
  }
  .content#about .graphAr .graph--block:not(.graph) {
    display: block;
    width: 65%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: auto;
  }
  .content#about .graphAr .graph--block .graph--block--tit {
    display: inline-block;
  }
  .content#about .graphAr .graph--block .graph--block--txt {
    padding: 0 0;
  }
  .content#about .graphAr .graph--block .graph--block--txt .txt {
    display: inline-block;
  }
  .content#about .graphAr .graph--block .graph--block--txt .txt::after {
    content: '/';
    padding: 0 3px 0 6px;
  }
  .content#about .graphAr .graph--block .graph--block--txt .txt:last-child:after {
    display: none;
  }
  .content#about .graphAr .graph--block .graph--block--tit + .graph--block--txt {
    margin-top: 6px;
  }
  .content#about .graphAr .graph {
    margin: 0 auto;
  }

  /* skills */
  .content#skills .skills--list .skill + .skill {
    margin-top: 20px;
  }

  /* contact */
  .content#contact .contWp {
    margin-top: 40px;
  }
  .content#contact .contactInfo {
    margin-top: 60px;
    margin-left: 0%;
  }
}

@media screen and (max-width: 479px) {
  /* -------------------- style -------------------- */
  :root {
    /* font-size */
    --font-Xlarge: calc(70% * 3.375); /* 54px*/
    --font-large: calc(80% * 1.875); /* 30px*/
    --font-medium: calc(86% * 1.125); /* 18px*/
    --font-regular: calc(90% * 0.938); /* 15px*/
    --font-small: calc(92% * 0.875); /* 14px*/
    --font-micro: calc(95% * 0.75); /* 12px*/
  }
  br {
    display: none;
  }
  /* tab */
  .tabBtn {
    gap: 0 8px;
  }
  .tab--btn {
    padding: 0 20px;
  }

  /* layout */
  main.contents {
    padding: 0 20px;
  }

  /* list txt */
  .txt--list {
    padding: 0 0;
  }
  .txt--list + .txt--list {
    margin-top: 16px;
  }

  /* grid list */
  .gridAr {
    row-gap: 20px;
    column-gap: 12px;
  }
  .grid .grid--txtAr .grid--txtAr-info .weight {
    height: auto;
  }

  /* cont title */
  .cont--tit02 {
    font-size: calc(var(--font-size) * 0.94);
  }

  /* home */
  .content#home header.titAr .titAr--tit {
    font-size: calc(var(--font-size) * 0.6);
  }
  .content#home header.titAr .titAr--txt {
    font-size: calc(var(--font-size) * 0.88);
  }

  /* contact */
  .content#contact .guideTx {
    font-size: calc(var(--font-size) * 0.85);
  }
}
